.jumbotron {
  background-image: url('../img/spider.jpg');
  background-size: cover;
  text-align: center;
  color: white;
}
.sidebar {
  background-color: rgb(255, 255, 128);
  float: left;
  height: 600px;
  margin-right: 20px;
}
